
.Selection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 150px;
    background-image:linear-gradient(to bottom ,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7) ), url("../fondoLogin.png");
    background-position: center;
    background-size: cover;
    width: auto;
    height: 100vh;
    background-repeat: no-repeat; 

}
.btnS{
    width: 200px ;
    height: 200px;
    border-radius: 20px;
    color: white;
    background-color:var(--naranja--);
    border: transparent;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;

}

.btnS:hover{
    width: 210px ;
    height: 210px;
    font-weight: 700;
}