.bttn{
    color: black;
    background-color: white;
    margin: 30px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-color: transparent;
    cursor: pointer;
}
.bttn:hover{
    padding: 13px 33px;
}
.bttn>p{
    pointer-events: none;
}
.menu{
    background-color: var(--naranja--);
    display: flex;
    flex-direction: column;
    align-items: center;
/* justify-content: center; */
    overflow-y: auto;
    height: 450px;
    max-height: 530px;
    
}


.menu::-webkit-scrollbar {
    -webkit-appearance: none;
}

.menu::-webkit-scrollbar:vertical {
    width:10px;
}
.menu::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.menu::-webkit-scrollbar-track {
    border-radius: 30px;  
}