.bttn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: 500;
  /* max-width: 100%; */
}
.signo {
  background-color: #ffb01b;
  border-color: transparent;
  width: 40px;
  height: 40px;
  margin: 0 5px;
  cursor: pointer;
  font-size: x-large;
  border-radius: 50%;
}
.signo:hover {
  background-color: var(--rojo--);
  /* color: white; */
}
.signos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icono {
  background-image: url("../img/delete.png");
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin-left: 5px;
}

.text {
  max-width: 70px;
  flex-grow: 1;
}
